{% extends "base.html" %}
{% load eu_filters %}
{% load i18n %}
{% block content %}
    <h3>{% trans 'Bid detail' %}</h3>
    <ul>
        <li><p>{{bid.product}}<br>
            {{bid.description}}<br>
            {{bid.get_status_display}}<br>
        {{bid.created}}</p>
        {% if not bid.author == user %}
            <a href='{% url "answer_create" pk=bid.id %}'>{% trans 'Add offer' %}</a></li>
        {% endif %}
    </ul>
    <h3>{% trans 'Offers' %}</h3>
    {% if answers %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Date of creation' %}</th>
                    <th>{% trans 'Link' %}</th>
                    <th>{% trans 'Description' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in answers|sort_by:'price' %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{answer.price}} {{answer.get_currency_display}}</td>
                        <td>{{answer.created}}</td>
                        <td>{{answer.url}}</td>
                        <td>{{answer.description}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
