{% extends "base.html" %}
{% load eu_filters %}
{% block content %}
    <h3>Детализация по заявке</h3>
    <ul>
        <li><p>{{bid.product}}<br>
            {{bid.description}}<br>
            {{bid.get_status_display}}<br>
        {{bid.created}}</p>
        {% if not bid.author == user %}
            <a href='{% url "answer_create" pk=bid.id %}'>Добавить ответ</a></li>
        {% endif %}
    </ul>
    <h3>Предложения</h3>
    {% if answers %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Стоимость</th>
                    <th>Дата создания</th>
                    <th>Ссылка</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in answers|sort_by:'price' %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{answer.price}} {{answer.get_currency_display}}</td>
                        <td>{{answer.created}}</td>
                        <td>{{answer.url}}</td>
                        <td>{{answer.description}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
