{% extends "base.html" %}
{% block content %}
    <h2>Все заявки</h2>
    {% if bids %}
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Продукт</th>
                    <th>Описание</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in bids %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{bid.product}}</td>
                        <td>{{bid.description}}</td>
                        <td>{{bid.get_status_display}}</td>
                        <td>{{bid.created}}</td>
                        {% if not bid.author == user %}
                        <td><a href='{% url "answer_create" pk=bid.id %}'>Добавить ответ</a></td>
                        {% else %}
                        <td>Вы не можете ответить на свою заявку</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
