{% extends "base.html" %}
{% load tz %}
{% load i18n %}

{% load eu_filters %}

{% block content %}
    <h1>{% trans 'My bids' %}</h1>
    {% if bids %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Created' %}</th>
                    <th>{% trans 'Detail' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in bids|sort_by:'-created' %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{bid.product}}</td>
                        <td>{{bid.description}}</td>
                        <td>{{bid.get_status_display}}</td>
                        <td>{{ bid.created| localtime |time:"H:i"  }} {{ bid.created | date:"D d M Y"}} </td>
                        <td><a href='{% url "bid_detail" bid.id %}'>{% trans 'View more' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endblock %}