{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans 'Top bids' %}</h1>
    {% if answers %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Product' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Buy' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in answers %}
                    <tr>
                    <td>{{forloop.counter}}</td>
                        <td><strong>{{answer.bid.product}}</strong></td>
                        <td>{{answer.price}} {{answer.get_currency_display}}</td>
                        <td>{{answer.description}}</td>
                        <td>{{answer.url}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}